@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Handlee&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
}

header > h1 {
  font-family: 'Passion One', cursive;
  font-size: 10vw;
  font-variant: small-caps;
}

header > p > a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

header > p > a:hover {
  color: rgb(106, 173, 235);
  text-decoration: underline;
}

main {
  font:
    normal normal 3.5vw 'Sriracha',
    cusive;
  line-height: 2em;
}

section {
  margin: 70px 0px 70px 20px;
  max-width: 800px;
}

section > p {
  padding-bottom: 60px;
}

div.container {
  position: relative;

  min-height: 60vw;

  color: white;
  box-shadow: inset 1px 1px 5px rgb(0, 0, 0);
}

div#fundo-flor {
  background: white url(imagens/background001.jpg) right center no-repeat fixed;
  background-size: cover;
}

div#fundo-papel {
  background: white url(imagens/background002.jpg) right center no-repeat fixed;
  background-size: cover;
}

div.bloco-texto {
  position: absolute;
  left: 20px;
  top: 6%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.658);
}

div.bloco-texto p {
  text-shadow: 2px 2px 2px black;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: rgb(106, 173, 235);
  text-decoration: underline;
}
